:root{
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
    max-width: 1280px;
    background-color: #ffffff;
    margin: 0 auto
}

body{
    margin: 0px !important;
    background-color: #ffffff;
    border: 1px solid #ddd;
}

.page-container{

}

.nav{

}

nav{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo img{
    width: 56px;
    height: 56px;
    padding: 8px;
    border-radius: 50%;
}

nav .logo .title{
   color: white;
   font-size: 24px;
   font-weight: bold;
   padding-left: 16px;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

nav ul li{
    color: white;
    padding: 22px 40px;
    background-color: #333333;
}

nav ul li.active{
    background-color: #222222;
}

nav ul li a {
    text-decoration: none;
    color: white;
}